[2021-03-10 12:08] dlorenc opened #4 "Tracking page for auditors and monitors?"
Maybe we can add a page here with a list of everyone running mirrors, auditors, monitors, etc.

People can add their own!

[2021-03-10 12:52] lukehinds commented on #4
sure, happy to put something on sigstore.dev/monitors as well.

[2021-03-14 06:59] lukehinds opened #6 "Move community & tac calendar / agenda docs to community group"
@dlorenc , I might need you to do this or you see if you can raise my priv to administrator

https://support.google.com/a/answer/1626902?hl=en

![image](https://user-images.githubusercontent.com/7058938/111065216-85460080-84b0-11eb-84c7-d5acada2d69e.png)

I was just thinking, is there anyone at tektoncd we could chat to and get some invite into how they have things set up?

[2021-03-14 07:00] lukehinds opened #7 "Community YouTube Channel"
TAC and and community meetings get recorded , so others can watch later (especially if in a different TZ)

[2021-03-14 10:33] lukehinds commented on #6
if you do up me to admin, use lukehinds@gmail.com, as my RH email is under the RH org which limits what I can do around calendars etc.

[2021-03-15 01:33] dlorenc commented on #6
What do you need admin privileges on? I don't think there is a meeting invite anywhere yet.

[2021-03-15 12:32] lukehinds commented on #7
Seesm we can do this without an enterprise account, lets park this for now.

[2021-03-15 14:03] lukehinds opened #9 "Utilise good first issues."
Folks want to contribute , lets make it easy for them. We can start by using good first issues / help wanted.

[2021-03-17 10:22] lukehinds commented on #6
I sort of how something set up now, but I am sure it could be improved.

It would be really nice if we could add the sigstore.dev domain to the google group, that way we can have a security@sigstore.dev for anyone wanting to report, also aliases such as welfare@sigstore.dev for anyone with concerns in the community relating to our code of conduct.

[2021-03-28 09:45] #7 closed

[2021-03-28 09:45] lukehinds commented on #6
done!

[2021-03-28 09:45] #6 closed

[2021-03-28 09:46] lukehinds opened #13 "Implement CHANGELOGS"
We should really start maintaining changelogs. Decide how we want to do this? Is this something we can implement.

[2021-04-05 10:56] lukehinds opened #16 "All projects should have a version flag"
This is required for debug assistance and security vulnerability assessment (for users to establish whether or not they are running an affected version).

[2021-04-05 16:49] annabellegoth2boss opened #19 "Adding security.md to sigstore repos"
With the security policy nested under the Community repo, repos like Rekor show up as "no security policy" -- whomp whomp :(

Could probably just have the security.md's in other repos point to this one so it can serve as the canonical policy.

[2021-04-05 18:09] lukehinds commented on #19
thanks @annabellegoth2boss , could you show me where it shows "no security policy", is that a github thing?

[2021-04-05 19:46] annabellegoth2boss commented on #19
"No security policy" was just my shorthand for the result that will come up if someone uses a scanning tool or if they go to the Security tab on the repo ([like Rekor's, for example](https://github.com/sigstore/rekor/security)). The concept of "security policy" stops at the repo level on GitHub--no way to apply one security policy to an entire org that I know of.

[2021-04-05 20:04] lukehinds commented on #19
Fair point, I will add a basic version that points back to the mothership version in community. Thanks for this @annabellegoth2boss

[2021-04-05 20:04] lukehinds commented on #19
actually I should ask, bit rude of me. Is this something you would like to work on @annabellegoth2boss ?

[2021-04-12 10:03] schmelto opened #20 "Typo in README.md"

[2021-04-12 11:02] #20 closed

[2021-05-08 08:52] #13 closed

[2021-05-08 09:16] lukehinds opened #25 "Cargo signing"
Creating this issue to start gathering thoughts on crates sigstore signing.

## Current Status

Cargo performs no signing verification of crates at present.

Users running the `cargo install` command will download unsigned code which will be compiled and executed.

There has been discussions around using TUF, but progress is arguably very slow, as its been in discussion for over 5 years now [0] /

[2021-05-08 09:17] lukehinds commented on #25
I will add to the above as more information comes in and I have had some time to look at cargos infra and code. Please do chime in with any views or any other historically useful threads..

[2021-05-11 00:29] dlorenc opened #26 "Key Ceremony!"
Hey All,

This is a tracking bug for the overall sigstore public key ceremony, which we'll use to establish a TUF trust-root for all sigstore signing. The design for that kicked off here: https://github.com/sigstore/fulcio/issues/12 but grew a bit bigger in scope. The latest document describing the overall strategy is here: https://docs.google.com/document/d/1dJ5JNyLcuB6Fbl7eV5Rx8xlXdgic2thMFSseq4

[2021-05-13 13:07] dlorenc commented on #26
Update: @asraa's code is working to setup the initial TUF metadata! We're going to try it out a couple times then get it published and ready for review.

Key Holders: please make sure you have at least two sealed Yubikeys ready for the event. We've tested with the models here: https://github.com/sigstore/cosign/blob/main/TOKENS.md

A third key for practice would be great to have too. One sealed ke

[2021-05-18 17:01] tarcieri commented on #25
As a general thought: the crates.io team seems pretty overworked right now just keeping the lights on.

I think an interesting way to move forward here that will at least temporarily avoid integration headaches with cargo would be to prototype something like TUF + cargo as an external tool, possibly leveraging the work in something like `rust-tuf` or `rough`, or just doing sigstore verification in

[2021-05-18 17:29] tarcieri commented on #25
Something else I suggested on the call was that `rustup` might be a better starting point, and actually plays nicely into a story for `cargo`/crates.io.

One thing I've gotten out of discussions with some core devs is that they'd like to have a single trust root for `rustup`, Rust releases/channels, and crates.io, and in that regard `rustup` is a great place to start as it could also bootstrap the

[2021-05-24 23:42] tarcieri commented on #25
Regarding this, here's a WIP tool which roughly fits this bill: https://github.com/kutometa/carnet

[2021-05-25 04:51] lukehinds commented on #25
Sorry for the inaction @tarcieri , agree rustup is definately good a place to start here. Will take a look at carnet

[2021-05-26 11:57] cpanato opened #28 "Create GitHub Team for Release Team members"
- Create a GitHub Team to hold the members that will help to run the releases for Sigstore
- Give write permissions and permissions to create/edit milestones/labels
- Maybe permissions to configure branch protection and webhooks

/cc @lukehinds

[2021-05-26 11:58] cpanato opened #29 "Create sigstore-bot GitHub account"
- To perform any automation/tasks that we as humans will not do with our own account

/assign @cpanato

[2021-05-26 11:58] cpanato commented on #29
cc @lukehinds

[2021-05-26 12:50] letmaik commented on #29
Just out of curiosity, which use cases don't work with `GITHUB_TOKEN`?

[2021-05-26 13:01] cpanato commented on #29
@letmaik I was checking some milestone applier for PR and we need to add the secret for that, but I will double-check.
But maybe in the future, we have more things that need a bot to perform actions that we don't want to attach to a specific user.

[2021-05-26 13:25] cpanato opened #30 "Add Code of Conduct"
**Description**

Add the CoC document

Add in the https://github.com/sigstore/.github and then link in the other repos

[2021-05-27 08:42] cpanato opened #31 "Add Release process document for the projects"
**Description**

Add a document to describe the release process to release a specific project, ie, cosign

This Document will be added for each project and have the steps required to release that piece of software.

/assign @cpanato

[2021-05-27 08:42] cpanato commented on #31
/assign @cpanato

[2021-05-27 09:50] cpanato opened #32 "Define Release cadence for the main projects"
**Description**

Define release cadence for :
- rekor
- cosign
- fulcio
- sigstore

with that we can publish the expected release dates for the community and also we can track the PR/Issues that we can include in the release.

[2021-05-27 09:51] cpanato commented on #32
suggestions:
- once a month

[2021-05-27 09:51] cpanato commented on #32
cc @lukehinds @dlorenc

[2021-05-27 09:51] cpanato commented on #32
I will bring this topic to the community call next week (Jun/1)

[2021-05-27 10:30] lukehinds commented on #32
sounds good to me, we could also cover how we respond to critical / security bugs

[2021-05-27 11:01] peterkwells opened #33 "Create /research/ folder and add projectsbyIF insights deck"
Over time the sigstore community will create research. An example is the current projectsbyIF work. This research may be useful for the current and future sigstore communities.

Creating a /community/research/ folder will provide a simple, initial mechanism for storing and providing access to research.

A first entry could be the projectsbyIF research insights document:

[[external] sigstore disco

[2021-05-27 15:35] dlorenc commented on #33
Thanks! We'll get this merged.

[2021-06-01 15:30] lukehinds commented on #25
@tarcieri et al, where does rustup currently store its artefacts (such as the shell script, windows binaries)?

[2021-06-01 15:32] tarcieri commented on #25
`rustup` is designed to be used by an individual user and does not support global installation (to my knowlege).

It uses this crate to determine the user's home directory, along with `CARGO_HOME` and `RUSTUP_HOME`:

https://crates.io/crates/home

[2021-06-01 15:38] lukehinds commented on #25
ah sorry, should have been more specific: where is the shell script (that you pipe into sh) and the blobs that the shell script pulls down get hosted (something like ec2 bucket etc?

[2021-06-01 15:41] tarcieri commented on #25
Appears to be pointed at Cloudfront:

[code]

[2021-06-08 08:56] lukehinds opened #34 "Plan k8s admission controller signing plugin"

[2021-06-15 05:57] lukehinds commented on #25
as for rustup, I built this protoype:

https://twitter.com/decodebytes/status/1404540227474046980

This works as follows.
1. Someone makes a change to rust-init.sh
2. They sign that change using sigstore (signing cert based on OIDC / entry into transparency log)
3. A commit is then made which contains the sig, signing cert and the updated script: https://github.com/lukehinds/rustup/commit/cd091d86

[2021-07-27 16:21] #34 closed

[2021-07-27 16:21] #33 closed

[2021-07-27 16:22] lukehinds opened #37 "Documentation surge"
We are looking to improve our documentation and a new docs site will be launched. We would also really benefit from translations as well.

If you can help in anyway at all, please tag yourself in a comment below

[2021-07-27 22:14] anvega commented on #37
I'm happy to help!

[2021-07-29 21:06] dlorenc opened #38 "Transparent CODEOWNERS"
At one point we had actual names in the CODEOWNERS files, but that switched at some point to point to a GitHub team in each repo. That works fine, but these teams are not publicly visible (I don't think), so people can't see who is a maintainer on each repo. We should switch this back, or separately document the set of people in each team.

[2021-08-10 16:35] RoxaBee commented on #37
Can't translate but happy to help with the doc review :-)

[2021-11-23 16:18] rgreinho opened #41 "Sigstore community meeting times and time zones are incorrect"
## Description

<img width="770" alt="image" src="https://user-images.githubusercontent.com/6969134/143061194-c2dc8d73-a070-45a6-a92d-621550ba96ba.png">

The page shows that the meeting will start at 1030am CST, which is incorrect. The meeting actually starts at 1130am CST.

Bellow that, it is mentioned that the meeting in the local time is 1130am CDT which is also incorrect incorrect because we a

[2022-02-01 23:02] haydentherapper opened #43 "Using Github roadmaps for project tracking"
As a new contributor, I want to be able to easily determine what are the goals of the project, what is the long-term direction of the project, and what is actively being worked on.

To solve the first two, I propose we more heavily utilize the roadmap feature on Github to track goals for cosign, fulcio and rekor. We should also schedule periodic triaging of open tickets.

Context: [New contributor

[2022-02-01 23:06] haydentherapper opened #44 "Assignment of active issues"
As a new contributor, I want to track what is actively being worked on so that I can find new issues to implement. Due to access restrictions around assignment of issues, individual contributors cannot self-assign issues.

At a bare minimum, I propose that we update community guidelines to ask contributors to comment on an issue when they're actively developing. If a developer cannot complete a fe

[2022-02-01 23:11] haydentherapper opened #45 "All PRs should have referenced issues"
PRs are frequently opened without referencing existing issues. This results in features that have not been thoroughly vetted being approved, and also runs the risk of two developers working on the same feature.

I propose that all PRs should have an attached issue. This can be enforced with a bot. Examples of PRs that should have issues:
* Bug that is impacting many users
* New feature
* API chang

[2022-02-01 23:16] haydentherapper opened #46 "Significant features should have architecture diagrams"
When a contributor adds a significant feature, an architecture diagram should accompany the feature. This is helpful for reviewers to understand more about the feature, and for other contributors to understand how to properly use the feature.

This has been brought up in Fulcio too - https://github.com/sigstore/fulcio/issues/373

Context: [New contributor friction log](https://docs.google.com/docu

[2022-02-01 23:22] haydentherapper opened #47 "End-user documentation should accompany user-facing features"
The Sigstore ecosystem supports many features, and at times it's hard to find how to use non-core features.

I propose that PRs with user-facing features must be accompanied with documentation changes. We could enforce by bot that all flag changes have help text. Help text could then be automatically parsed and added to the [Sigstore doc website](https://github.com/sigstore/sigstore-website).

Con

[2022-02-01 23:26] haydentherapper opened #48 "Enforce a minimum code coverage percentage"
Code changes should be accompanied with tests. This may include unit tests or end-to-end tests. I propose that we enforce a minimum code coverage percentage. This can be enforced by a presubmit check. I assume that unit test coverage will directly contribute to the code coverage percentage. We will need to investigate how best to enforce adding end-to-end tests for larger features.

Context: [New

[2022-02-01 23:37] haydentherapper opened #49 "Require multiple reviewers for PRs"
Multiple reviewers can help for a number of reasons:
* Provide a different perspective
* Reduce the impact of single account compromise

This can be enforced by [Github](https://github.blog/2018-03-23-require-multiple-reviewers/#:~:text=To%20require%20multiple%20reviewers%20for,pull%20request%20to%20that%20branch.)

This has also been brought up on Fulcio - https://github.com/sigstore/fulcio/issue

[2022-02-01 23:57] haydentherapper opened #50 "Community guidelines for smaller PRs"
As discussed in this week's community meeting, there was a strong desire to see smaller PRs. This may be hard to enforce via a bot, so we should initially rely on reviewers to ask contributors to keep PRs small. Combined with https://github.com/sigstore/community/issues/45, it should be easy for reviewers to keep track of large feature development across multiple PRs.

Context: [New contributor fr

[2022-02-02 09:25] cpanato commented on #49
+1

@lukehinds @dlorenc since you are the admins for the org, can we enforce this for the main repos?

[2022-02-02 09:53] lukehinds commented on #49
I support this, especially with GA on the near horizon.

Adding @bobcallaway for his views.

[2022-02-02 09:58] lukehinds commented on #43
I would be supportive of using github milestones for release planning. Are there any communities around that have a decent process we could replicate?

[2022-02-02 10:01] lukehinds commented on #41
pretty sure this is fixed now

[2022-02-02 10:01] #41 closed

[2022-02-02 10:05] lukehinds commented on #49
One thing we need to consider, this makes sense for the large projects (fulcio, rekor, cosign), but some of the smaller projects only have a small amount of reviewers (sometimes only two). If someone make a PR that is also a reviewer (and can't self review), they won't be able to hit for quorum.

My thought are this could easily be resolved, but requiring all projects have a minimum of three revie

[2022-02-02 10:07] lukehinds opened #51 "SLSA compliance"
#49 prompted the thought that we should consider pursing SLSA compliance

[2022-02-02 10:12] cpanato commented on #49
agree, I think we should enforce for the large repos like, cosign, rekor, fulcio

for the medium/smaller we can keep as is as we are building the community around, as soon we have enough contributors in the other repos we enforce this there as well

[2022-02-02 10:12] lukehinds opened #52 "Outline process for maintainer promotion"
Document what is the expected duties of a maintainer and how a maintainer is nominated and on boarded (and off boarded). Some considerations:

* Can someone self nominate, or should an existing maintainer nominate the individual
* Should there be an outline of what makes a good maintainer (contributions (perhaps a key feature), thoughtful reviews etc). I don't think we can set a criteria and enfor

[2022-02-02 10:16] lukehinds commented on #29
I totally missed this first time around, is this still applicable @cpanato ?

[2022-02-02 10:19] cpanato commented on #29
me too, forgot this issue, we can close, we already have the bot account :)

[2022-02-02 10:19] #29 closed

[2022-02-02 11:09] dlorenc commented on #49
I'm very very very strongly against this as a requirement. It will kill velocity.

I think we can document guidelines on who should review which changes and ask to get multiple eyes on larger ones, but ultimately we need to trust maintainers to use their judgment.

An across the board requirement removes that discretion from maintainers and eliminates the ability for maintainers to quickly merge d

[2022-02-02 11:14] dlorenc commented on #49
I'll also add that the SLSA requirement does not require two people to review/approve every change. It requires that projects prevent unilateral changes. In some cases this may require a second review, but not always.

If maintainer A sends a PR and maintainer B approves it, that's two people.

If random unknown GitHub account sends a PR and maintainer A approves it, we can't prove that's two peop

[2022-02-02 11:27] lukehinds commented on #49
@dlorenc do you have anything we can use a case study on where its had a negative impact on velocity? I can't see it being an issue myself, as priority issues can be expedited through direct contact between maintainers. regarding small issues, it should not be difficult to co-ordinate people merging dependency updates.

[2022-02-02 11:49] dlorenc commented on #49
Tekton! The core project is struggling and maintainers constantly need to beg for a second set of eyes on minor PRs, which turn into rubber stamps and don't end up adding value anyway.

This leads to slower changes, which means people to try submit larger ones to get more work done in one chunk, which means the reviews take even longer. It's a compounding effect that creeps up over time.

Please -

[2022-02-02 20:54] dlorenc commented on #49
What threshold would you suggest? Maintainers, reviewers, and PR authors are always free to request multiple reviews where they feel it's necessary or useful. I'm not convinced we have a problem here that requires automation.

[2022-02-02 20:58] lukehinds commented on #49
The scenario I would like to improve is where a PR gets made and within a short space of time it gets merged before it's had a good chance for other maintainers to view the change.

[2022-02-02 21:03] haydentherapper commented on #49
PRs that are small in scope and do not add new functionality, like small bug fixes or documentation changes. I expect these PRs would only change a few files.

Without at least the triage permission, contributors are unable to explicitly request multiple reviewers. It'd be up to maintainers to decide when to request additional reviews.

[2022-02-02 21:03] dlorenc commented on #49
Maybe we could point to some examples there? That's a different problem from the one originally outlined here. I think the right answer there is to just address it right away rather than introduce arbitrary, uniform delays or time requirements.

I'd be fine with something like this text in a maintainers handbook:

"Large, potentially contentious PRs should be left open for long enough to allow mul

[2022-02-02 21:12] lukehinds commented on #49
I can't see a handbook entry honestly making much difference. We already have sections in contributors saying to raise an issue first and provide a helpful descriptive commit message.

[2022-02-02 21:16] haydentherapper commented on #49
Do you think auto-assigning codeowners/maintainers to do reviews would help reduce friction with having multiple reviewers?

[2022-02-02 21:18] lukehinds commented on #49
I think github already does that, it looks at the codeowners file and who has worked on the file before.

[2022-02-02 21:21] dlorenc commented on #49
This is an easy fix! I don't really understand why GitHub works this way, but we can just add contributors to the org to get people the permissions they need.

[2022-02-02 21:31] haydentherapper commented on #49
This may have to be configured, I haven't seen this happen. If we do want to enable this, it may be worthwhile making sure all codeowners know they'll be auto-assigned. From looking over the past few weeks of PRs, it seems like only a handful of codeowners regularly do code reviews.

Yea, I was also surprised, I never understood why a PR author couldn't request their own reviewers, at least after

[2022-02-02 21:37] dlorenc commented on #49
There's a self-service tool for this called `peribolos` used in Kubernetes where people can request they be added to an organization automatically: https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos
It typically runs inside prow, but I think it can work in a github action too.

I'm happy to just add people manually for now if they file issues in sigstore/community.

[2022-02-02 21:48] dlorenc commented on #52
IMO:

I think anyone should be able to do the nomination, either a maintainer or the person.

Yeah, we can give some examples. It could be lots of core feature work, or just lots of reviews/maintenance, or something in between.

I think there should be a basic handbook. It should include stuff like always acting in the best interest of the project, what to do in case of a conflict between maintain

[2022-02-03 00:00] bobcallaway commented on #49
I'm not sure we've got `CODEOWNERS` configured correctly across the various sigstore repos, per [the documentation](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax):

e.g. [sigstore/cosign/CODEOWNERS](https://github.com/sigstore/cosign/blob/2f5e1ffa0fe0c1104355e18a1bc77d91ac301a85/CODEOWNERS#L1)

[2022-02-03 00:08] haydentherapper commented on #49
That sounds good with me Bob.

As for `/hold` expiring, I'd say let's start with not having it expire and see if there's any issues. I'd prefer that whoever initiated the hold come back and remove the hold once they're satisfied with the resolution.

[2022-02-03 00:09] dlorenc commented on #49
I'm fine with this as an experiment, but I'd like to try to formalize it a bit more first. I'd like to see how many additional reviews we actually get with the 24 hour hold, and what the average merge latency is, before and after.

It's not that I don't like quality! I've just found that any additional hurdles and process and latency have the opposite effect. People become less willing to make sma

[2022-02-03 00:13] dlorenc commented on #49
I don't think we need it to expire, but only maintainers should be able to actually place the hold or remove it.

[2022-02-03 00:47] dlorenc commented on #45
Plus one on encouraging documents, -1 on a wide range policy like this. Issues are great but aren't necessary and don't always add value.

My refrain on all of this is going to be just trusting people to use their judgment and do the best thing for the project.

[2022-02-03 00:49] dlorenc commented on #44
I really get the sentiment here but I've never seen this work in practice due to limitations in Github tooling. I haven't found a decent workflow to even see all the issues assigned to me :(

One fun idea that's worked is to do triage parties, where you get a few people together and just burn through stale issues. You can sort by old, new, or random.

There's even a cool tool called triage party t

[2022-02-03 00:51] dlorenc commented on #43
The new github projects tool is still in beta but it's much much much better than the old one. It's still missing a few pieces around automation to really make it work. This is a struggle for every project I've seen.

[2022-02-03 05:25] lukehinds commented on #49
I 2nd @bobcallaway 's proposal.

One question, to implement `/hold` we need to integrate prow. I can't profess to know prow to well, but is this something we need to host somewhere or is it a bot?

[2022-02-04 09:42] cpanato commented on #49
we can deploy prow and use those things or we can write some actions to do that similar work for us as well.

happy to help in any option

[2022-03-02 16:01] justaugustus opened #53 "GitHub org team/member management"
From https://github.com/sigstore/sigstore/issues/305:

@lukehinds:

@dlorenc:

cc: @cpanato @naveensrinivasan

[2022-03-02 16:12] dlorenc commented on #53
Transferred!

[2022-03-02 16:30] justaugustus commented on #53
Some suggestions from a past me in https://github.com/todogroup/governance/issues/106#issuecomment-1000962064:

Nothing against Pulumi or @cpanato's suggestion of https://github.com/cpanato/pulumi-github-sync, but I would suggest using something that does not requiring knowledge of yet another tool.

What I really want is to turn `peribolos` into a GitHub Action (via https://github.com/sethvargo/g

[2022-03-02 21:13] dlorenc commented on #53
If peribolos can run in a github action that works for me! I love prow but don't want to have to run it just for this.

[2022-03-02 21:52] justaugustus commented on #53
My sentiment exactly!

[2022-03-02 22:26] vaikas commented on #53
I can't make a commitment right now, but I think this would be very valuable work overall so if I can find time, I'd love to help. I know for example Knative also could benefit from this, since there we do run peribolos as well :) I'm sure there are others.

I'd be happy to help, so if you want to add me that org that would be great.

[2022-03-25 15:09] tracymiranda opened #55 "Logo Refesh"
This issue tracks a request to Linux Foundation creative team for a refresh of the logos for Sigstore

(https://sigstore.slack.com/archives/C01D0PA9QKF/p1644000736824899)

[2022-03-29 18:34] tracymiranda commented on #55
Deadline for drafts is this Friday and will be shared here as soon as available!

[2022-04-05 17:35] haydentherapper commented on #55
Are there plans to refresh the logos for the components of Sigstore?

[2022-04-05 18:14] tracymiranda commented on #55
Yes - once we have a direction for the main logo we will look for complementary logos for the components.

[2022-04-05 19:22] hectorj2f commented on #55
I vote for design number 6 🥇

[2022-04-05 19:56] dekkagaijin commented on #55
I like the wax seal, would be cool to see riffs on concept 5 (page 6)

[2022-04-06 00:50] csantanapr commented on #55
+1 Concept 4

[2022-04-06 06:04] dirien commented on #55
+1 concept 18

[2022-04-06 07:16] endorama commented on #55
I really like the concept of the wax seal! I really like concept 5, but would like to see it in in blue (like concept 1A/B), and 1A (I tend to prefer all lowercase though).

[2022-04-06 08:12] cpanato commented on #55
+1 Sigstore - Logo Concept 5

[2022-04-06 08:19] simi commented on #55
+1 Sigstore - Logo Concept 5  (:heart: seal, :heart: downcase, :heart: "monospace" font)

[2022-04-06 08:32] samj1912 commented on #55
+1 concept 5

[2022-04-06 13:04] bobcallaway commented on #55
+1 Sigstore - Logo Concept 5

[2022-04-06 13:41] jchestershopify commented on #55
+1 to logo concept 5

[2022-04-06 18:26] ahrkrak commented on #55
+1 on concept 5

[2022-04-08 17:43] tracymiranda commented on #55
Thanks everybody who has shared feedback. Collecting the feedback from this issue, slack, the meeting and twitter the summary is:
1A/1B - 35% liked these. One concern is from a design point is 3 colours means there is no true b&w logo
2 - no significant votes. Some folks liked the seal but overall design was not representative
3 - no significant votes. Looks too much like an eye or spirograph
4 -

[2022-04-11 06:46] dirien commented on #55
Thanks @tracymiranda, for the feedback.

The argument for true b&w makes sense, so I change my vote from 1B to concept 5 😄

[2022-04-13 11:41] tracymiranda commented on #55
New round of logos came through 🎉. //cc @bobcallaway @lukehinds @dlorenc
Please share your feedback!
[Sigstore-logo-presentation-v2.pdf](https://github.com/sigstore/community/files/8481109/Sigstore-logo-presentation-v2.pdf)

[2022-04-13 11:47] cpanato commented on #55
+1 on number 1

[2022-04-13 12:10] dlorenc commented on #55
Number 1 is so good!

[2022-04-13 12:59] hectorj2f commented on #55
Number 1 is my favourite too.

[2022-04-13 13:39] samj1912 commented on #55
+1 on 1 or 4

[2022-04-13 13:41] jchestershopify commented on #55
I like number 1, but there seems to be a mismatch between the big version and the side versions on slide 1.

[2022-04-13 14:36] mattmoor commented on #55
I like the wax seal, but 1/3 look a bit like dripping blood, which is a bit off-putting.  Maybe just me.  For the shape, I think #2 is my favorite.

I think I prefer the color scheme of 1 the most, and the orientation of the logo in the seal.

[2022-04-13 16:28] haydentherapper commented on #55
+1 to Matt's comment about the dripping. Personally I'm a fan of Number 6's color scheme, 2 and 6 are very similar to me besides the color scheme.

[2022-04-13 20:50] fishseabowl commented on #55
+1 on number 4

[2022-04-19 07:40] lukehinds commented on #55
Number 4 for me, I don't like the dripping / ye oldy world style of the others.

[2022-04-20 21:10] tracymiranda commented on #55
To summarize the feedback:
- there is a strong preference for concept 1 in particular the orientation of symbols, colour and lower case letter. However the stamp part should avoid looking like dripping blood or wet paint so ideally more like the shape in concept
- not quite as many folks, but the runner up logo was concept 4

Overall the key difference between concept 1 and concept 4 is "wax seal"

[2022-04-22 06:45] allstar-app[bot] opened #56 "Security Policy violation Branch Protection"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Block force push not configured for branch main

---

This issue will auto resolve when the policy is in compliance.

Issue created by Allstar. See https://github.com/ossf/allstar/ for more information. For questions specific to the repository, please contact the owner or maintaine

[2022-04-27 15:54] jorydotcom commented on #55
Next Revision - Please share your thoughts here, or in Slack!!
[Sigstore-logo-presentation-v3.pdf](https://github.com/sigstore/community/files/8573589/Sigstore-logo-presentation-v3.pdf)

[2022-04-28 06:25] dirien commented on #55
This:
![image](https://user-images.githubusercontent.com/38325136/165690226-baf95a34-9219-43f4-ada0-9e358f90cdeb.png)

[2022-04-28 08:21] lukehinds commented on #55
+1 to the above

[2022-04-28 12:20] cpanato commented on #55
+1 on the above 🎉

[2022-04-28 13:09] elfotografo007 commented on #55
+1 too

[2022-04-28 13:53] mattmoor commented on #55
+1

[2022-04-28 14:00] fishseabowl commented on #55
+1

+1 too

[2022-04-28 17:42] lukehinds opened #57 "04/2022 Community Chair"
The community chair position is now open for nominees. Contributors (commits or issues raised / past attendance to the community meetings) who are active in sigstore can self nominate. please drop you name below, with a quick bio and why you think you would be suited for the role.

[2022-04-30 12:55] dlorenc commented on #57
When should we close this? I'd suggest we keep it open until at least Friday May 6th.

[2022-05-03 10:26] lukehinds commented on #57
End of week is what I had in mind. I want to announce it to the community meeting and then let the week play out for nominations.

[2022-05-03 13:53] chicoVegans commented on #55
+1 too

[2022-05-03 14:58] simi commented on #55
+1

[2022-05-04 19:45] tracymiranda commented on #55
Thanks for the input everyone, looks like we have a clear favourite. I'll request the full set of design files (colour/B&w, multiple orientations)

[2022-05-06 07:34] lukehinds opened #58 "client reference / standard"
Branching off from the sharding discussion https://github.com/sigstore/rekor/issues/806 , we considered that clients could perhaps benefit from a retry handler in event of system outage. There was proposal made that we could benefit from a general client guideline / standard. This would not be concerned with the specifics of the client itself, more on how clients would best be suited to interact w

[2022-05-07 12:20] lukehinds commented on #57
Congrats @tracymiranda for being the new community chair !

[2022-05-07 12:20] #57 closed

[2022-05-27 20:36] tracymiranda commented on #55
New logo files have been received, they can be found either at ossf https://github.com/ossf/artwork/tree/master/sigstore or in sigstore repo (after PR is merged) https://github.com/sigstore/community/tree/main/artwork

[2022-05-31 18:28] #55 closed

[2022-06-14 14:30] tracymiranda opened #61 "Logo Refresh Stage 2"
Following on from the logo refresh work done in #55 this issue tracks the follow up work, which is:
- update the brand guidelines to match the new logo (https://github.com/sigstore/community/blob/main/artwork/Sigstore_Guidelines_2021.pdf)
- update the subproject logos to be more in keeping with the new logo

[2022-06-14 14:32] tracymiranda commented on #61
First drop of palette and subproject designs:
[Sigstore_ColourPalette_V1.pdf](https://github.com/sigstore/community/files/8900689/Sigstore_ColourPalette_V1.pdf)
[Sigstore_Subprojects_V1.pdf](https://github.com/sigstore/community/files/8900690/Sigstore_Subprojects_V1.pdf)

Please let us know any feedback!

[2022-06-14 17:00] haydentherapper commented on #61
Could we try a different set of logos for all of the subprojects? I'd be curious to see some other options.

Fulcio: An arrow is unrelated to a certificate authority
Rekor: Could we try a few different options? I imagine there are a number of ways we can represent a log.
Cosign: I like this one, though I'd also be interested to see some alternatives.

As discussed at the community meeting, it woul

[2022-06-14 17:13] haydentherapper commented on #61
Depending on the shades of red and blue, these colors are frequently related to US politics.

[2022-06-14 17:22] tracymiranda commented on #61
Worth adding we've requested some options for rekor and new logo for gitsign so far, can also ask for other options for the other subprojects.

[2022-06-14 18:20] SantiagoTorres commented on #61
Perhaps rekor monitoring?

[2022-06-21 20:58] tracymiranda commented on #61
Updated palettes and some new logo concepts for fulcio, with some notes from designer:

Palette: I've worked in that that lighter blue, and I completely understand about the blue on red! In setting up the colour palette options, I was verifying everything through a colour contrast checker to make sure that we have plenty of combinations that pass the contrast requirements for accessibility and the

[2022-06-22 02:17] haydentherapper commented on #61
For Fulcio:

Concept 1: Reminds me of the @ sign, evocative of email. I don't think that's a good fit for a CA, since code signing certs can include a number of identities besides email.

Concept 2: This logo is very similar to the GCP Certificate Authority Service [logo](https://www.keyfactor.com/wp-content/uploads/MicrosoftTeams-image-25.png), the one in blue that also uses a ribbon.

Concept 3:

[2022-06-22 18:31] tracymiranda commented on #61
More input via sigstore slack thread: https://sigstore.slack.com/archives/C01DGF0G8U9/p1655845396863019

[2022-06-27 20:01] tracymiranda opened #67 "Gitsign Logo"
This is a distinct issue to track progress towards a logo for the gitsign subproject, though is part of the general sigstore logo refresh stage 2, see #61.

Gitsign should have it's own logo that is distinct but also in keeping with the new Sigstore logo.

[2022-06-27 20:04] tracymiranda commented on #67
Logo concepts:
[Sigstore_Gitsign.pdf](https://github.com/sigstore/community/files/8995239/Sigstore_Gitsign.pdf)

[2022-06-27 20:17] tracymiranda commented on #67
To simplify viewing and referencing designs have summarized them here:
![Screen Shot 2022-06-27 at 4 15 55 PM](https://user-images.githubusercontent.com/5173122/176028051-7e6f40ad-39bc-4122-9f55-42de4a36c357.png)

[2022-06-28 17:43] jchestershopify commented on #61
The palette guidance on whether a colour can be used in regular or large type is very helpful.

[2022-06-28 20:25] omkensey commented on #67
I like 4 and 6 with the callback to the checkmark of signoff approval or the shield of protection that signatures provide.

[2022-06-28 20:46] kaniini commented on #67
4 is good.  6 and 7 are bad because they don’t reflect the acyclic directed graph nature of Git.

[2022-06-28 21:17] medberry commented on #67
5

[2022-06-29 03:42] bradmccoydev commented on #67
1

[2022-06-29 10:43] erikaheidi commented on #67
at first i liked 6 but what @kaniini said, it really doesn't represent git so well. so I'd go with **4**

[2022-06-29 12:16] n3wscott commented on #67
4!

[2022-06-29 12:28] pdxjohnny commented on #67
4

[2022-07-04 17:22] tracymiranda commented on #67
Thanks all!
Additional feedback via slack: https://sigstore.slack.com/archives/C01DGF0G8U9/p1656361103075449
and twitter:
https://twitter.com/tracymiranda/status/1541878290138468360?s=20&t=xNO6nnM6M2r4GbHh27Y3Kg
https://twitter.com/sabre1041/status/1541878754795986949?s=20&t=xNO6nnM6M2r4GbHh27Y3Kg

[2022-07-04 18:57] tracymiranda commented on #67
On reviewing all the input the consensus was clear for logo 4 with its callback to the checkmark/signoff approval plus reflecting the acyclic directed graph nature of Git 😀.
Final colour scheme to be settled as part of #61

[2022-07-04 19:00] tracymiranda commented on #61
Updated full set of logos with suggested subproject colours on the same page as the main Sigstore colours for reference.
[Sigstore_Subprojects_V4.pdf](https://github.com/sigstore/community/files/9041636/Sigstore_Subprojects_V4.pdf)

To be reviewed at community call on July 5th. Feedback welcome on this issue too.

[2022-07-05 21:20] tracymiranda commented on #61
Feedback from community call: swap gitsign logo to green and avoid using red logos.

[2022-07-06 16:26] tracymiranda commented on #61
The gitsign logo will be swapped to green. @lukehinds @bobcallaway @dlorenc please let me know any other feedback before we finalize the palettes & logos.

![Screen Shot 2022-07-06 at 12 23 52 PM](https://user-images.githubusercontent.com/5173122/177598275-f6ca0682-d3d4-4e42-ba3f-47b0d803d8b2.png)

[2022-07-12 15:55] tracymiranda commented on #61
Updated versions:
[Sigstore_Subprojects_V5.pdf](https://github.com/sigstore/community/files/9094757/Sigstore_Subprojects_V5.pdf)
<img width="750" alt="Screen Shot 2022-07-12 at 11 55 03 AM" src="https://user-images.githubusercontent.com/5173122/178536811-a8e750ca-559e-4afa-a03f-b797d19d5505.png">

[2022-07-21 15:16] dlorenc commented on #61
+1 from me.

[2022-07-21 15:26] lukehinds commented on #61
+1

[2022-07-22 17:01] bobcallaway commented on #61
+1, thanks!

[2022-07-29 18:20] #61 closed

[2022-07-29 18:20] #67 closed

[2022-09-05 14:52] lukehinds opened #121 "All repos should not test everything against unrelated tests"
A lot of repos are running unit / integration tests against changes such as a markdown edit.

This causes unnecessary use of resources and not in the interest of sustainable computing.

We should find some way to skip CI runs, perhaps based on extensions, .txt, .md

[2022-09-05 14:54] lukehinds commented on #121
Something like this should do it:

[code]

[2022-09-05 19:03] n3k0m4 commented on #121
Hello,
I could possibly work on this.
CC-ing @cpanato as requested.

[2022-09-05 20:59] deobieta commented on #121
Hi, I can work on this.
@cpanato

[2022-09-06 00:27] cpanato commented on #121
That sounds like a great idea.
lets focus in the main repositories for now

- [ ] cosign
- [ ] rekor
- [ ] fulcio
- [ ] policy-controller
- [ ] scaffolding

@n3k0m4 @deobieta can you both split the work and work together? thanks!

[2022-09-06 03:34] deobieta commented on #121
@n3k0m4 Hi, if you want to make other repo combinations, it's fine by me.
Take your pick.
1: cosign, rekor
2: policy-controller, fulcio, scaffolding

[2022-09-06 07:27] lukehinds commented on #121
awesome, thanks @deobieta / @n3k0m4 I can recommend you both collaborate to work out an approach, you could always work together in a Google doc or whatever medium you like and me and @cpanato can comment and help out. Once you have an approach nailed down. we can then move to implementation. Last of all if you're both interested, this might make a nice article for blog.sigstore.dev.

[2022-09-06 14:23] tracymiranda opened #123 "[Nominations Open] Most Valuable Sigstore Contributor Award 2022 🏆"
This issue is to receive nominations for the Most Valuable Sigstore Contributor Award 2022.

This award recognizes excellence of technical contributions to Sigstore. This individual commits key pieces to projects and, more importantly, contributes in a way that benefits the project neutrally as a whole.

To nominate someone, reply to this issue with the following:

1. Full name of the person you’r

[2022-09-06 14:27] tracymiranda opened #124 "[Nominations Open] Best Sigstore Evangelist Award 2022 🏆"
This issue is to receive nominations for the Best Sigstore Evangelist Award 2022.

This award recognizes a champion for Sigstore projects. This individual helps spread awareness of Sigstore and its projects. They bring Sigstore to new communities, driving interest and excitement around the ecosystem.

To nominate someone, reply to this issue with the following:

Full name of the person you’re nomi

[2022-09-06 14:30] tracymiranda opened #125 "[Nominations Open] Best User Adopter Award 2022 🏆"
This issue is to receive nominations for the Best User Adopter Award 2022.

This award recognizes an individual, team or organization who have adopted Sigstore to secure and protect their software, and have shared their impactful Sigstore story so that others may also learn from their journey.

To nominate someone, reply to this issue with the following:

Full name of the person, team or organizat

[2022-09-08 16:36] puerco commented on #123
I would like to nominate Priya Wadhwa @priyawadhwa as Most Valuable Sigstor Contributor :tada:

It is hard to put in words how much better the project is because of Priya's work: from her code contributions, to doing a superb job evangelizing with her great presentations all over the place, and lately doing an outstanding job moving the GA effort forward. I can't thank her enough. I'm sorry for th

[2022-09-08 16:45] naveensrinivasan commented on #125
## Nominating OSSF Scorecard team

http://github.com/ossf/scorecard

The OpenSSF Scorecard is an automated tool that assesses several important heuristics associated with software security and assigns each check a score of 0-10. You can use these scores to understand specific areas to improve to strengthen your project's security posture.

The OpenSSF Scorecard’s GitHub Action v2 action  uses GitH

[2022-09-09 11:12] hectorj2f commented on #123
It is really hard to choose the most valuable contributor, I could nominate several contributors. However I'd like to nominate Carlos Panato Tadeu @cpanato as Most Valuable Sigstore Contributor 🎖️.

Carlos is involved in almost all the sigstore projects and he is always available to help on Slack. His contributions keep the projects in a healthy and robust state.

[2022-09-09 19:00] asraa commented on #125
**SLSA GitHub Generators**

https://github.com/slsa-framework/slsa-github-generator
https://github.com/slsa-framework/slsa-verifier

The SLSA GitHub Generator project hosts a collection of trusted builders that can produce SLSA Level 3 compliant provenance. It achieves this by using the isolation guarantees from reusable workflows on GitHub Actions and crucially, Sigstore OIDC signing to bind GitH

[2022-09-09 19:29] naveensrinivasan commented on #124
I am nominating @developer-guy

@developer-guy  has contributed lots of tweets, blogpost , videos on Sigstore related projects!

[2022-09-11 15:18] n3k0m4 commented on #121
I have made the Google Docs [file](https://docs.google.com/document/d/18qINMtBf-9bXf7LMypg3FQ46s-FFGR_sls6oWIytr4A/edit?usp=sharing) for the changes.

Please, request the edit rights and notify me here to grant them.

If you have any concerns about my changes, you can put comments directly in the doc.

@deobieta @cpanato @lukehinds

[2022-09-14 07:58] cpanato commented on #124
Also, nominate @developer-guy. He is doing tremendous work spreading the sigstore knowledge around!

[2022-09-15 07:24] Saim-Safdar commented on #124
+1 for @developer-guy. He is doing amazing work spreading the knowledge around Sigstore, (blog posts, Tweets, meetups) all are really helpful and the great learning resource for everyone.

[2022-09-15 20:14] deobieta commented on #121
@lukehinds @cpanato Should actions run on forked repos?

[2022-09-16 08:06] cpanato commented on #121
it can, but only the jobs that does not need access to GCP

[2022-09-16 20:44] asraa commented on #124
I NOMINATE @developer-guy
WE ALL NOMINATE @developer-guy
![a15127f0ddb9230309bb0b8802b1554e](https://user-images.githubusercontent.com/5194569/190729620-8a374181-b719-47ce-9499-9ac459841207.jpg)

[2022-09-16 21:14] n3k0m4 commented on #121
@cpanato I opened a PR to Cosign, could you please check it out. If there is anything you would like me to change, I would be happy to fix it.

[2022-09-19 11:12] cpanato commented on #121
reopening, not all work is done :)

[2022-09-20 14:52] hectorj2f commented on #124
I also nominate @developer-guy 👏🏻

[2022-09-22 05:33] deobieta commented on #121
@lukehinds @cpanato @n3k0m4  I left some notes in the Google Docs  [file](https://docs.google.com/document/d/18qINMtBf-9bXf7LMypg3FQ46s-FFGR_sls6oWIytr4A/edit?usp=sharing)  about some approaches we can choose from to improve Github workflows use. Any help, comment or suggestion  is welcomed. Thank you.

[2022-09-28 21:26] asraa opened #139 "Testing: Critical project verification before rollout and releases"
Hi!

The recent rekor sharding broke our SLSA builders ( https://github.com/slsa-framework/slsa-github-generator/issues/876#issuecomment-1261275130) and @laurentsimon and I were discussing that we have been finding almost all production issues reported in our e2e test suite.

What we were wondering is if we can either donate our e2e testing to the upstream community: we can file issues against sig

[2022-09-30 20:05] haydentherapper opened #143 "Set up monitoring for deviations between pulumi and GitHub"
This can detect any modifications outside out of this repo to prevent the repo permissions from deviating from what's been declared in Pulumi

cc @cpanato

[2022-09-30 21:34] #56 closed

[2022-10-03 17:35] tstromberg opened #147 ""Add team for timestamp codeowners" GHA job failure: 422 Validation Failed"
As mentioned by @priyawadhwa at the sigstore oncall meeting:

https://github.com/sigstore/community/actions/runs/3175965606

[code]

[2022-10-03 17:35] tstromberg commented on #147
/assign

[2022-10-03 17:48] tstromberg commented on #147
Analyzing this with the previous failure, you can see that "pulumi up on sigstore/github-prod" fails on both at the same stage, which is trying to upgrade the sigstore-oncall permission from "push" to "write" for the "helm-charts" repository:

[code]

[2022-10-03 17:58] tstromberg commented on #147
-Doing some cursory research, my first thought experiment would be to manually remove the oncall group from membership to the `helm-charts` GitHub repository, and re-run the script to see if the script works or outputs differently in a way that could help us determine what it's stuck on.

@priyawadhwa - would it be possible to do this?

The only other theory I have is that Github may be complainin

[2022-10-03 18:08] tstromberg commented on #147
Here's the API reference: https://docs.github.com/en/rest/teams/teams#add-or-update-team-repository-permissions - it does not mention the 422 status code.

[2022-10-03 20:14] priyawadhwa commented on #147
I think Carlos might have fixed this with https://github.com/sigstore/community/pull/145!

[2022-10-03 20:31] priyawadhwa commented on #147
Yep looks like the most recent run was green (https://github.com/sigstore/community/actions/runs/3177181864) , I think we're good. Going ahead and closing this issue :)

[2022-10-03 20:31] #147 closed

[2022-10-22 20:18] lukehinds commented on #121
closing this now, thanks for your help @deobieta @n3k0m4 !

[2022-10-22 20:22] lukehinds opened #170 "Migrate blog to github."
Discussed this with @bobcallaway and I think it makes sense to migrate off medium to here. This was we can then use config to allocate approvers (TSC members) and have a review process.

Anyone wanting to contribute at article can create an issue.

tagging other TSC folks: @trevrosen @priyawadhwa @SantiagoTorres @bobcallaway

[2022-10-24 19:38] trevrosen commented on #170
+1

[2022-11-03 13:34] tracymiranda commented on #170
How would you track post analytics on Github?

[2022-11-03 13:36] tracymiranda commented on #170
My 2c is that you can still set up a review process for medium in github and allocate approvers.  I'd personally prefer a no-code approach to blog posts.

[2022-11-03 13:43] tracymiranda commented on #30
I think this is done now: https://github.com/sigstore/.github/blob/main/CODE_OF_CONDUCT.md

@cpanato can you take a look and see if anything else is needed.

[2022-11-03 13:56] lukehinds commented on #170
We can run analytics ourselves and it does not need to be served from GitHub as such.

I do like medium, but I don't think its a suitable option long term. We might face terms of service changes, questionable takeovers etc.

The other benefit is we can unify the branding with sigstore.dev as well.

[2022-11-03 14:00] tracymiranda commented on #170
Yeah medium isn't great - it doesn't really work that well on collaboration too, some aspects of the UX are very painful when trying to get new folks to contribute.

+1 for unifying branding.

[2022-11-03 14:25] cpanato commented on #30
all good

[2022-11-03 14:25] #30 closed

[2022-11-07 17:52] asraa opened #179 "Create a listserve for Sigstore clients and tooling to announce deprecations/comms"
It would be nice to have a Sigstore client listserve that can help automate communications that need to be delivered to Sigstore clients, including:
* Deprecation notices
* Breaking changes or updates in services
* Security issues
* etc.

It would be nice to also have tooling around creating these emails via a GitHub issue. E.g. if we post a public PR/issue on sigstore/community regarding Sigstore

[2022-11-07 20:53] #121 closed

[2022-11-07 23:05] asraa commented on #179
Yes, thanks! That would be great: even just starting with the creation of a groups.io listserve would be great.

I'll be happy to file issues on various clients that want access.

[2022-11-08 06:58] lukehinds commented on #179
we do have google services enable on email@sigstore.dev , could that be leveraged at all?

[2022-11-08 12:38] lukehinds commented on #179
A good example of why this is needed:

https://sigstore.slack.com/archives/C01PZKDL4DP/p1667842511344639?thread_ts=1667807120.030369&cid=C01PZKDL4DP

There have been a lot of messages like this in slack, where a non-backwards compatible change was made in cosign.

[2022-11-14 21:24] asraa opened #187 "Defining status checks in the repository"
I have a quick request, and have no idea if this is possible with Pulumi.

Adding new CI workflows, or changing the required status checks, currently requires maintainers to make a PR in sigstore/community. Is it possible for the stub of the config on status checks to live in the individual repositories?

Once branch protection is set in this one, then it should be safe for the individual reposito

[2022-11-15 22:06] haydentherapper commented on #187
I don't think you can configure status checks as a maintainer though since it's branch protection, you'd need to be an admin.